/*  your css code here. If applicable */
#container{
	margin: 20px;
	
}
#container: before, #container:after{
	content:"Element";
	font-size: 20px;
	display: block;
}
#container::before {
    content: 'Before Content';
    margin-bottom: 10px; /* Space between before content and main content */
	color: #f00;
}
#container:After{
	content:"After Content";
	margin-top:10px;
	color: #f00;
}